.main {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
.rectangle {
  width: 300px;
  height: auto;
  padding: 5px;
  background-color: aquamarine;
}
.circle {
  height: 300px;
  width: 300px;
  padding: 2px;
  background-color: blueviolet;
  border-radius: 50%;
}
