#navbar{
    display: flex;
    background-color: rgb(7, 7, 7);
    width: 10000px;
    text-align: center;
    height: 100%SSS;
}
img{
    color: black;
    background-color: rgba(0,0,0,0.5);
}
#imgsec{
    background-color: red;
    justify-content: center;
    width: 100px;
}